.amh{
    opacity: 0.9;
    height: 70px;
    color: white;
    font-weight:lighter;
    font-size: 38px;
    margin-left: 39%;
    margin-top: -62px;
    margin-right: 100px;
    text-shadow: 1px 2px 2px white, 1px 2px #45a024, 2px 3px 3px #45a024, 1px 5px 1px #6b3914, 2px 6px 2px #6b3914;  
}

.Add-House-Form{
    margin-top: 0px;
    background-color: #D9D9D9;
    opacity: 0.8;
    padding: 0px 60px;
    border-radius: 30px;
    border: #6B3914 1px;
    border: 1px solid #6B3914;
    height: 100%;
}

.Add-House-Form label{
    font-size: large;
    color: #6B3914;
}

.Add-House-Form input[type=number]{
    padding-Left: 134px;
}

.Add-House-Form input::placeholder{
    opacity: 0.9;
}

.Add-House-Form input,select{
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 10px;
    opacity: 0.7;
    height: 30px;
    color: #529537;
}